<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PPM Project{% endblock %}</title>
    <!-- Bootstrap CSS (opzionale) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <!-- Qui puoi inserire una barra di navigazione -->
    </header>

    <main>
        {% block content %}
        <!-- Il contenuto dei template che estendono base.html sarà inserito qui -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer del sito -->
    </footer>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.select2').select2({
          tags: true,
          tokenSeparators: [','],
          width: '100%',
          placeholder: "Seleziona una o più categorie",
          allowClear: true
        });
      });
    </script> <!-- todo: considerare di spostarlo solo nel file dedicato -->


    {% block extra_js %}{% endblock %}
</body>
</html>